
* { 
    margin: 0;
    padding: 0;

}



body { 
    background-color: #333;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* height: 100vh; */
    background-image: url("brian-mcgowan-vS3bTz1dZ9U-unsplash.jpeg");
    background-size: cover;   
    background-repeat: no-repeat;
}

#tableContainer { 
    background-color: #fff;
    color: #333;
    padding: 2vh 2vw;

}

tbody {
    table-layout: inherit;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    justify-content: space-around;
}

th {
    border: #333 2px solid;
    width: 20vw;

}


td { 
    border: #333 2px solid;
    padding: 5px;
}

h3 { 
    font-size: 1.3em;
}

img { 
    max-height: 15vh;
}

.selection-container { 
    display: flex;
    justify-content: space-between;
    min-height: 30vh;

}

.selection-group1 { 
    text-align: center;
    justify-content: center;
    margin: 1em
}


.dropdown-group { 
    display: flex;
    flex-direction: column;
}

.dropdown {
    display: inline-block;
    padding: 1em;

}

.name-group { 
    justify-content: center;
    text-align: center;
    margin: 1em 10em 1em 0;

}

.search-btn { 
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.family-btn { 
    display: inline-block;
    padding: 1em;
}
.img-button {
    margin: 2vh;
}

#pics {
    max-height: 5vh;
}

