
* { 
    margin: 0;
    padding: 0;

}



body { 
    background-color: #333;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url("brian-mcgowan-vS3bTz1dZ9U-unsplash.jpeg");
    background-size: cover;   
}

#tableContainer { 
    background-color: #fff;
    color: #333;
    padding: 2vh 2vw;

}

tbody {
    table-layout: inherit;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    justify-content: space-around;
}

th {
    border: #333 2px solid;
    width: 20vw;

}


td { 
    border: #333 2px solid;
    padding: 5px;
}




